<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1,
  	shrink-to-fit=no">
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="icon" href="favicon.ico">

  	<title>NewsView</title>

  	 <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Font Awesome Glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery.js"></script>
    
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="/js/menu.js"></script>

  </head>

  <body>

  	{{{body}}}

	<!-- index.js needs to be loaded last for the .item bindings to work -->

	<script src="/js/index.js"></script>

  </body>
</html>