<!-- Navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">NewsView:  Progressive news and views</a>
     
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto"></ul> 

        <p id="date"></p>     
    </div>
</nav>

<br><br><br>

<!-- Menu with < category > styling -->
<div class="container marketing">
  <center>
	<div class="menu-wrapper">
		<ul class="menu">
			<li class="item num1" id="all">All</li>
			<li class="item num2" id="saved">Saved</li>
		</ul>
		<div class="paddles">
			<button class="left-paddle paddle hidden"><</button>
			<button class="right-paddle paddle">></button>
		</div>
	</div>
  </center>

  <br>

	<!-- Handlebars article display on inital load -->
	<div class="container-fluid">
		<div class="card-columns" id="articles">

		{{#each articles}}

		<div class="card myArts" id="{{this.id}}">
		  <div class="card-header">{{this.title}}</div>
		  	<div class="card-block">
		  	  <div class="card-text">
		  	  	<div class="panel-body">
		  	  	  <img src="{{this.image}}" width="100%">
		  	  	  <p>{{this.description}}</p>
	  	  	  	</div>
	  	  	  </div>
	  	  	</div>
	  	</div>

		{{/each}}

		</div>
	</div>

	<!-- Footer -->
	<footer>

	</footer>

</div> <!-- /.container -->

<!-- Modal to display article summary with comment, save & in-line edit -->
<div id="articleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

  <!-- Modal content -->
  <div class="modal-content">
    
    <div class="modal-header">
    <h2 class="modal-title" id="artName"></h2>
    </div>

    <div class="modal-body">
	    <img id="articleImg" src="img/news-image.jpg" alt="No article image" style="height: auto; max-width: 100%">
	    <p><div id="artComments"></div></p>
    </div>

	<div>
    <hr>

    <textarea rows="2" cols="47" id="addText" placeholder="Add comment here"></textarea>
    <button type="button" id="add" class="btn btn-default">Add</button>

  </div>

  <!-- Footer content dynamically inserted here -->
  <div class="modal-footer" id="cardFooter"></div>

</div>





